<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Order</title>
</head>

<body>
    <h1>Order sucessfully</h1><br>
    <a href="/home">Return to shopee home page</a><br>
    <a href="/buyer/PurchaseList">Go to your purchase list</a>
</body>

</html>