<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/successOrder.css">
    <link rel="stylesheet" href="/css/themify-icons/themify-icons.css">
    <link rel="shortcut icon" href="/image/spicon.png" type="image/x-icon" />
    <title>Success Order</title>
</head>

<body>
    <!-- <h1>Order sucessfully</h1><br>
    <a href="/home">Return to shopee home page</a><br>
    <a href="/buyer/PurchaseList">Go to your purchase list</a> -->

        <div class="success_box">
            <div class="success_box_container">
                <div class="success_icon">
                    <img src="https://mayphunsuonganthinh.com/wp-content/uploads/2018/10/kisspng-check-mark-bottle-material-green-tick-5ad25467123860.2792666715237336070746.png" alt="" width="60px" height="60px">
                </div>
                <div class="success_header">Order Successfully</div>
                <div class="success_body">Thank you so much for your order!</div>
                <div class="nav_button">
                    <button class="nav_purchase btn"><a href="/buyer/PurchaseList">KIỂM TRA ĐƠN HÀNG</a><br></button>
                    <button class="nav_return btn"><a href="/home">QUAY LẠI</a></button>
                </div>
            </div>
        </div>

</body>

</html>