<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/upload_img.css">
    <link rel="stylesheet" href="/css/themify-icons/themify-icons.css">
    <link rel="shortcut icon" href="/image/spicon.png" type="image/x-icon" />
    <title>Document</title>
</head>

<body>
    <nav class="nav_bar">
        <div class="left_obj">
            <div class="logo">
                <a href="/home">
                    <img src="/image/shop_logo.png" alt="" width="60px">
                </a>
            </div>
            <div class="nav_title">Cập nhật hình ảnh cho sản phẩm</div>
        </div>

        <div class="right_obj">
            <div class="user">
                <i class="ti-user"></i>
                <span>
                    Hello <%= userId %>
                </span>
            </div>
            <div class="noti">
                <i class="ti-bell"></i>
            </div>
            <button class="help_btn">Trung Tâm Trợ Giúp</button>
        </div>
    </nav>

    <div class="upload_img_box">
        <img class="no_img" src="https://miro.medium.com/max/250/1*DSNfSDcOe33E2Aup1Sww2w.jpeg" alt="" width="400px"
            height="400px">
        <form method="POST" action="/handle-upload-item-image" enctype="multipart/form-data">
            <div>
                <input class="up_input" style="width:100%; height: 400px;" type="file" name="item_image" />
            </div>
            <div>
                <button class="up_btn btn" type="submit">
                    <p>
                        <i class="ti-cloud-up"></i>
                        Lưu ảnh
                    </p>
                </button>
            </div>
        </form>
        <a href="/seller">
            <button class="back_btn btn" type="submit">
                <p>
                    <i class="ti-arrow-left"></i>
                    Trở lại
                </p>
            </button>
        </a>
        <div class="test"></div>
    </div>

    <div class="noti_modal">
        <div class="icon_noti">
            <i class="ti-check"></i>
        </div>
        <div class="main_noti">
            <div class="header_noti"><strong>Xác Nhận</strong></div>
            <div class="body_noti">Tải ảnh thành công!</div>
        </div>

    </div>

    <script>

        const imgFile = document.querySelector('.up_input')
        const modal = document.querySelector('.noti_modal')
        const test = document.querySelector('.test')


        const show = () => {
            modal.style.display = 'flex'
        }

        const close = () => {
            modal.style.display = 'none'
        }

        const check = () => {
            if (imgFile.value === "") {
                close()
            } else {
                show()
            }
        }

        imgFile.onchange = () => {
            check()
        }

        window.onclick = () => {
            close()
        }

    </script>
</body>

</html>