/*base */
/* margin-top: 24px */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    position: relative;
    min-width: 1300px;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}

i {
    margin-right: 4px;
}

/* nav_bar */
.nav_bar {
    position: fixed;
    z-index: 9999999999;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #FA4F30;
    /* display: none; */
}

.container_nav_bar {
    display: flex;
    justify-content: space-between;
}


.left_nav,.right_nav {
    display: flex;
}

.left_nav > li,
.right_nav > li {
    margin: 0 6px;
    padding: 0 6px;
    line-height: 5vh;
    font-size: 13px;
    color: white;
    display: inline-block;
}

.left_nav > li:first-child {
    margin-left: 80px;
}

.right_nav > li:last-child {
    margin-right: 80px;
}

a {
    text-decoration: none;
    color: white;
}

.seller {
    position: relative;
}

.seller:hover {
    cursor: pointer;
}

.buyer:hover {
    cursor: pointer;
}

.seller:hover .seller_container {
    display: block;
}

.buyer:hover .buyer_container {
    display: block;
}

.seller_container,
.buyer_container {
    position: absolute;
    width: 160px;
    height: fit-content;
    background-color: #fff;
    z-index: 12323123231;
    box-shadow: 0 0 5px rgb(133, 131, 131);
    display: none;
}

.manage_products > a,
.manage_orders > a,
.manage_bills > a {
    color: black;
    padding-left: 8px;
}

.sub_nav_hover:hover {
    color: #ee2d4d;
    cursor: pointer;
}

.signup::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #ccc;
    top: 5px;
    right: 163px;
}

.noti_link {
    position: relative;
}

.notification {
    position: absolute;
    z-index: 5;
    width: 0;
    height: 0;
    background-color: white;
    right: 0;
    box-shadow: 0 0 2px rgb(95, 95, 95);
    /* display: none; */
    opacity: 1;
    overflow: hidden;
    /* animation: stb1 0.2s ease-in-out;   */
    /* transition-property: display; */
    transition-property:  opacity, height, width;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.noti_link:hover .notification {
    /* display: block; */
    opacity: 1;
    width: 400px;
    height: 50vh;
}

@keyframes stb1 {
    from {
        /* height: 0;
        opacity: 0; */
        transform: scale(0);
    }

    to {
        /* height: 50vh;
        opacity: 1; */
        transform: scale(1);


    }
}

.noti_header {
    padding: 0;
    color: black;
    text-align: left;
    padding: 0 8px;
    color: rgb(133, 131, 131);
    font-size: 14px;
    border-bottom: 1px #F0F0F0 solid;
}

.noti_container {
    height: 100%;
}

.request {
    height: 90%;
    display: flex;
    align-items: flex-end;
}

.signin_request,
.signup_request {
    color: black;
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 12px;
    background: #f5f5f5;
}

.signin_request {
    border-right: 1px #8888886b solid;
}

.signin_request:hover,
.signup_request:hover {
    background: #e8e8e8;
    color: red;
}

.language_link {
    position: relative;
}

.language_options {
    position: absolute;
    z-index: 5;
    width: 0;
    height: 0;
    background-color: white;
    right: 0;
    box-shadow: 0 0 2px rgb(95, 95, 95);
    /* display: none; */
    opacity: 0;
    overflow: hidden;
    transition-property:  opacity, height, width;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.language_link:hover .language_options {
    /* display: block; */
    /* animation: stb2 0.2s ease-in-out; */
    width: 200px;
    height: 15vh;
    opacity: 1;
}

@keyframes stb2 {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 15vh;
        opacity: 1;
    }
}

.lang {
    color: black;
    text-align: left;
    padding-left: 8px;
}

.lang:hover {
    color: red;
    cursor: pointer;
}


/* container_wrapper */
.container_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #FA4F30;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4px;
}

.sp_logo {
    width: 150px;
    color: white;
    transform: translateY(-12%);
}

.search_bar {
    position: relative;
    border-radius: 2px;
    display: flex;
    width: 900px;
    height: 6vh;
    background-color: #fff;
    align-items: center;
}

.search_icon {
    position: absolute;
    width: 60px;
    height: 5vh;
    right: 6px;
    top: 3px;
    background-color: #FA4F30;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 75%;
    border: 0;
    outline: 0;
    margin-left: 8px;
    height: 3vh;
    font-size: 14px;
}

.suggestion {
    display: flex;
}

.suggestion>p {
    margin-right: 12px;
    margin-top: 6px;
    color: white;
    font-size: 12px;
}

/* show Product */

.user_position {
    margin-left: 24px;
    line-height: 30px;
}

.primary_position {
    position: relative;
}

.btn {
    display: flex;
    transform: translateY(100%);
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0px;
}

.online {
    font-size: 14px;
    color: #757575;
}
.topspace {
    margin-top:24vh;
    position: relative;
}

/* CART ICON */
.stardust-popover {
    position: relative;
}
.cart-drawer-container {
    transform: translateY(-25%);
    padding: 10px 0;
}
.center, .v-center {
    display: flex;
    align-items: center;
}
.flex, .h-center {
    display: flex;
}
.center, .v-center {
    display: flex;
    align-items: center;
}
.flex, .h-center {
    display: flex;
}
.cart-drawer {
    cursor: pointer;
    margin: 0 0 0 5px;
    position: relative;
    overflow: visible;
    outline: 0;
}

.cart-drawer .shopee-cart-number-badge {
    top: -.6875rem;
    left: -1.25rem;
}
.shopee-cart-number-badge, .shopee-notification-number-badge {
    position: relative;
    border-radius: 2.75rem;
    min-width: .6875rem;
    line-height: 1.2em;
    padding: 0 .3125rem;
    text-align: center;
    height: 1rem;
    border: .125rem solid #ee4d2d;
    color: #ee4d2d;
    background-color: #fff;
    left: -1.125rem;
    top: -.5rem;
    margin-right: -.875rem;
}
