
/* show Product */
.route_link {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.route_link > i {
    font-size: 10px;
}

.route_link > a {
    color: blueviolet;
    text-decoration: none;
}

.show_product_container,
.shop_container,
.product_details {
    
    margin-top: 18px;
    min-height: 150px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
}
img.product_pic {
    object-fit: contain;
}
.show_product_container,
.shop_container,
.product_details,
.route_link {
    margin: 16px 60px;
}


.show_product_box_cover {
    display: flex;
    padding: 24px;
    min-height: 500px;
}
.show_product_box_cover > img {
    width: 40%;
    height: 500px;
}

.empty {
    width: 3%;
}

.show_product_info {
    display: block;
    padding-top: 8px;
    width: 57%;   
}

.product_title {
    font-size: 24px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif
}

.product_status {
    margin-top: 16px;
    display: flex;
}

.star, .evaluation, .sold {
    margin-right: 48px ;
    min-width: 50px;
}


.star > span:first-child {
    display: inline-block;
    padding: 2px 0;
    border-bottom: 1px solid #FA4F30;
    color: #FA4F30;
}

.ti-star {
    margin: 0px;
}

.evaluation > span:first-child {
    display: inline-block;
    padding: 2px 0;
    border-bottom: 1px solid black;
}
.evaluation > span:last-child {
    font-size: 14px;
    color: #757575;
}

.sold > span:first-child {
    display: inline-block;
    padding: 2px 0;
    border-bottom: 1px solid black;
}
.sold > span:last-child {
    font-size: 14px;
    color: #757575;
}

.product_price_box {
    margin-top: 12px;
    width: 100%;
    min-height: 160px;
    background-color: #fafafa;
    padding-bottom: 1px;
}

.price_header > img {
    width: 100%;
}

.product_price_cover {
    margin: 24px;
    font-size: 30px;
    color: #ee4d2d;
}

.product_price_more {
    margin-top: 8px;
    display: flex;
}

.product_price_more_info {
    display: block;
    margin-left: 8px;
}

.product_price_more_title {
    font-size: 14px;
}

.product_price_more_desc {
    margin-top: 4px;
    font-size: 12px;
    color: #757575;

}

.product_specific_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 220px;
    margin-top: 8px;
    padding: 0 24px;
}

.product_benefit_container {
    display: flex;
}

.product_ship_container {
    display: flex;
}

.product_benefit {
    max-width: 100px;
}

.product_ship_title {
    min-width: 100px;
    line-height: 32px;
}

.ptitle {
    max-width: 85%;
    color: #757575;
    font-size: 14px;
}

.pdesc {
    margin-left: 8px;
    max-width: 55%;
    color: black;
    font-size: 14px;
}

.product_ship {
    display: flex;
    justify-content: space-around;
}

.product_ship > i {
    font-size: 24px;
}

.product_ship > span {
    margin-left: 2px;
    line-height: 30px;
}

.user_position {
    margin-left: 24px;
    line-height: 30px;
}

.primary_position {
    position: relative;
}

.select_position {
    margin-top: 4px;
    display: none;
    position: absolute;
    z-index: 12345;
    top: 24px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 0 0.5625rem rgb(0 0 0 / 12%);
}

.select {
    border: 1px solid #e8e8e8;
}

.user_position:hover .select_position {
    display: block;
}

.product_amount_container {
    display: flex;
    margin-bottom: 40px;

}

.product_amount {
    min-width: 100px;
}

.product_amount_container > input {
    width: 10%;
    border: 1px solid #ccc;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.product_amount_container,
.product_benefit_container,
.product_ship_container {
    margin-bottom: 24px;
}

.btn {
    display: flex;
    transform: translateY(100%);
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0px;
}


.add {
    width: 39%;
    padding: 16px 32px;
    border: #ee4d2d 1px solid;
    font-size: 16px;
    color: #ee4d2d;
    border-radius: 4px;
}
/* swal START*/

.swal-modal {
    background-color: rgba(0, 0, 0, 0.75);
  }
.swal-text {
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    color: #ffffff;
  }

  .center, .v-center {
    display: flex;
    align-items: center;
}
.flex, .h-center {
    display: flex;
}
.center, .v-center {
    display: flex;
    align-items: center;
}
.flex, .h-center {
    display: flex;
}
.cart-drawer {
    cursor: pointer;
    margin: 0 0 0 5px;
    position: relative;
    overflow: visible;
    outline: 0;
}
/* Mil - add cart button END*/

.buy {
    margin-left: 32px;
    width: 20%;
    padding: 17px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #FA4F30;
    border-radius: 4px;
}

.shop_container {
    display: flex;
    padding: 24px;
    justify-content: space-between;
}

.shop_box {
    display: flex;
    align-items: center;
}

.shop_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}

.shop_margin {
    margin-right: 16px;
}

.shop_margin > img {
    border-radius: 50%;
    border: #ee4d2d 1px solid;
    transform: translateY(3%);
}

.shop_name {
    font-size: 16px;
    color: rgba(0,0,0,.87);
}

.online {
    font-size: 14px;
    color: #757575;
}

.chat_btn {
    width: 80%;
    padding: 8px 4px;
    border: #ee4d2d 1px solid;
    color: #ee4d2d;
    font-size: 14px;
    border-radius: 4px;
}

.shop_status {
    float: right;
}

.status_line {
    margin-top: 24px;
    width: 100%;
    display: flex;
}

.status_line > div {
    min-width: 140px;
    font-size: 14px;
    color: #757575;
    text-align: center;
} 

.status_line > p {
    min-width: 100px;
    font-size: 14px;
    color: #ee4d2d;
}

.product_details {
    padding: 32px;
}

.details_1 {
    margin-bottom: 32px;
}

.product_details_header,
.product_desc_header {
    margin-bottom: 32px;
    padding: 16px;
    background: #fafafa;
    font-size: 18px;
}

.product_details_body,
.product_desc_body {
    padding-left: 16px;
}

.product_category,
.product_storage,
.product_location {
    display: flex;
}

.cate_header,
.sto_header,
.loc_header {
    min-width: 140px;
    padding-right: 8px;
    margin-bottom: 16px;
    color: rgba(0,0,0,.4);
    font-size: 14px;
}

.cate_content > a,
.cate_content {
    font-size: 14px;
    color: #0055aa;
}

.cate_content > i {
    font-size: 10px;
    color: black;
}

.sto_content,
.loc_content {
    color: black;
    font-size: 14px;
}

